#mailchimp input.email {color:black;}


@keyframes float {
	0% {
		box-shadow: 0 20px 20px rgba(0,0,0,.16);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.08);
		transform: translatey(-12px);
	}
	100% {
		box-shadow: 0 20px 20px rgba(0,0,0,.16);
		transform: translatey(0px);
	}
}

.logo {max-width:100%;transform: translatey(0px);
	animation: float 5s ease-in-out infinite;}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

@font-face {
	font-family: 'GTWalsheim';
	src: url('GTWalsheim.eot?#iefix') format('embedded-opentype'), url('GTWalsheim.woff') format('woff'), url('GTWalsheim.ttf') format('truetype'), url('GTWalsheim.svg#GTWalsheim') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'Graphik-Regular';
  src: url('Graphik-Regular.eot?#iefix') format('embedded-opentype'),  url('Graphik-Regular.otf')  format('opentype'),
	     url('Graphik-Regular.woff') format('woff'), url('Graphik-Regular.ttf')  format('truetype'), url('Graphik-Regular.svg#Graphik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



* {
	box-sizing: border-box;
}
body {
	font-size: 1.65rem;
	font-family: sans-serif;
	line-height: 150%;
	font-family: 'Graphik-Regular';
	font-weight: normal;
	margin: 0;
	color: black;
}
a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 1!important;
}
a:hover {
	border-bottom: 1px solid black;
}
a:active {
	color: blue;
}
a:visited {
	color: black;
}
.lowkey {
	color: gray;
}
#mailchimp {
	margin-top: 48px;
	margin-bottom: 48px;
	font-family: 'GTWalsheim';
}
p {
	font-weight: 100;
	font-size: 1.2rem;
	line-height: 150%;
	max-width: 80%;
	margin: auto;
}
#branding {
	margin: auto;
	width: 48px;
	margin-top: 48px;
	margin-bottom: 24px;
}
h2 {
	font-size: 2.1rem;
	line-height: 125%;
	font-family: 'Graphik-Regular';
	font-weight: normal;
	margin: 0;
	color: black;
	margin-bottom: 40px;
}
h5 {
	font-family: 'Graphik-Regular';
	font-weight: normal;
	font-size: 1rem;
	
}
#content {
	max-width: 720px;
	margin: auto;
}

::selection {
	background-color: navajowhite;
	color: black;
}
section {
	color: black;
	text-align: center;
}
div {
	height: 100%;
}
article {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 20px;
}
h1 {
	font-size: 4.75rem;
	margin: 0 0 0.75rem 0;
	font-family: 'Graphik-Regular';
	font-weight: normal;
	line-height: 90%;
	color: blue;
}
/* Pattern styles */

.container {
	display: table;
	width: 100%;
}
#mailchimp input {
	width: 100%;
	border: medium none;
	color: gray;
	font-size: 18px;
	margin-bottom: 10px;
	padding: 20px;
	font-family: 'Graphik-Regular';
	font-weight: normal;
	border: 1px solid #d2d2d2;
}
#mailchump input.email:focus {}
#mailchimp input.email {
	max-width:90%;
	font-family: 'Graphik-Regular';
	font-weight: normal;
	background: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.09);
}
#mailchimp input.name {
	font-family: 'Graphik-Regular';
	font-weight: normal;
	background: #fff
}
#mailchimp input[type="submit"] {
	max-width: 90%;
	background: blue;
	color: #fff;
	font-family: 'Graphik-Regular';
	font-weight: normal;
	cursor: pointer;
	font-size: 18px;
	text-transform: ;
	padding: 8px 0;
	font-weight: 400;
	padding: 20px;
}
::-webkit-input-placeholder {
	color: gray;
	font-family: 'Graphik-Regular';
	font-weight: normal;
}
@media (max-width: 960px) {
	#content {
		max-width: 90%;
		margin: auto;
	}
	
	p {
	
	max-width: 100%;
	
}
	.mobile-header {
		display: block;
	}
	.left-half {
		display: none;
	}
	body {
		font-size: 1.1rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	body {
		font-size: 1.1rem;
	}
